{%extends 'nav.html'%}
{% block content %}
{% load static%}
<link rel="stylesheet" href="{% static 'css/index.css'%}">

<div class="banner">
    <img class="bgimg" src="{% static 'images/Udaipur.jpg'%}" alt="">
</div>
<section class="container">
    <h2 class="t-c">About Udaipur</h2>
    <p>Udaipur, often referred to as the "City of Lakes," is a captivating city located in the western Indian state of
        Rajasthan. Nestled amidst the Aravalli Range, Udaipur is renowned for its picturesque landscapes, historic
        architecture, and vibrant cultural heritage. The city is adorned with a series of beautiful lakes, the most
        famous being Lake Pichola, which is surrounded by palaces, temples, and ghats. The majestic City Palace, perched
        on the banks of Lake Pichola, stands as a symbol of the city's rich history and royal grandeur. Udaipur is also
        known for its intricate marble architecture, evident in structures like the Jagdish Temple. The narrow, bustling
        streets of the old city are dotted with vibrant markets, offering a delightful blend of traditional crafts and
        modern delights. With its regal charm, serene lakes, and cultural richness, Udaipur continues to enchant
        visitors, making it a must-visit destination in India.
    </p>

</section>

{% endblock %}